body{
    background-image: url(../Imagens/pexels-phto.jpeg); 
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
.numero p{
  margin-top: 20px;
  color: white;
  font-size: 12px;
  text-decoration: underline;
}

section h1{
    color: rgb(173, 53, 53);
    font-size: 80px;
    text-decoration: underline;
    margin-bottom: 30px;
    margin-left: 7%;
}

section li{
    margin-bottom: 16px;
    font-size: 28px;
    box-shadow: 3px 3px 6px black;
    color: black;
}

iframe{
    float: left;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 50px;
}

.svg{
  text-align: center;
}

.svg img{
  width: 38px;
  display: inline-block;
}

.localizacao{
  margin: 40px 0;
  display: flex;
  justify-items: center;
  justify-content: space-around;
  align-items: center;
}

footer{
  text-align: center;
  color: white;
  font-size: 20px;
  background-color: #212529;
  padding: 1px;
  position:absolute;
    bottom:0;
    width:100%;
  
}