.conheca h1{
    text-align: center;
    margin-top: 22px;
    margin-bottom: 22px;
    text-decoration: underline;
}

.numero p{
    margin-top: 20px;
    color: white;
    font-size: 12px;
    text-decoration: underline;
    margin-right: auto;
    margin-right: 200px;
}

.sobre img{
    width: 100%;
}

.obras h1{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.sobre p{
    margin: auto;
}


.obras img{
    width: 100%;
    height: 90px;
    padding: 10px;
}

.atendimento h2{
    padding: 0px;
    text-align: center;
    margin-top: 20px;
    margin-left: 50%;
  }

  .atendimento p{
    width: 300px;
    margin-left: 30%;
    text-align: center;
  }

  .viacred h2{
    text-align: center;
    font-size: 2rem;
    padding: 0px;
    display: inline-flex;
    margin-top: 20px;
    width: 300px;
    margin-left: 35%;
}

.viacred img{
    width: 180px;
    margin-left: 60%;
    margin-bottom: 30px;
}

footer{
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: #212529;
    padding: 1px;
    
}