body {
    overflow-x: hidden;
}

.numero p{
    margin-top: 20px;
    color: white;
    font-size: 12px;
    text-decoration: underline;
}

.conheca h1{
    text-align: center;
    margin-top: 30px;
    font-family: cursive;
}

.more-about h1{
    margin: 24px 0;
    text-align: center;
    text-decoration: underline;
}

.sobre{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.sobre div{
    width: 45%;
    text-align: center;
}

.sobre img{
    width: 500px;
    border-radius: 8px;
    margin-top: 10px;
}

.sobre h1{
    text-decoration: none !important;
}

.sobre strong{
    font-size: 24px;
}

.sobre p{
    text-align: justify;
    font-size: 20px;
    margin: 0 auto;
    padding: 0 36px;
}

.obras{
    margin-top: 30px;
}

.obras h1{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-family: cursive;
}

.obras img{
    margin-bottom: 30px;
    border-radius: 30px !important;
    width: 100%;
    padding: 20px;
    height: 300px;
}

.comentarios h1{
    margin-bottom: 30px;
    margin-left: 1%;
}

.comentarios img{
    width: 120px;
    margin: 20px auto;
}

.comentarios p{
    text-align: justify;
    margin: 20px;
    font-size: 19px;
}

.card1 h1{
    font-size: 15px;
    text-decoration: underline;
    margin-left: 4%;
}

.card1 img{
    margin-left: 4%;
}

.card2 h1{
    font-size: 15px;
    text-decoration: underline;
    margin-left: 4%;
}

.card2 img{
    margin-left: 3%;
}


.card3 h1{
    text-align: center;
    font-size: 15px;
    margin-bottom: 35px;
    margin-right: 75%;
    text-decoration: underline;
}

.card3 img{
    margin-left: 2%;
}

.svg img{
    margin-left: 50%;
    margin-top: 30px;
    width: 100px;
}

.atendimento{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 16px auto;
}

.atendimento p{
    margin: 2px auto;
}

.atendimento P, .atendimento h5{
    text-align: center;
}

.atendimento img{
    width: 100px;
}

.atendimento .imgs{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media(max-width: 1002px){
    .atendimento{
        display: block;
    }

    .atendimento div:nth-of-type(1){
        margin-bottom: 24px;
    }

    .atendimento div:nth-of-type(2){
        max-width: 388px;
        margin: 0 auto;
    }
}

.linha-vertical1{
    height: 140px;
    border-left: 2px solid;
    padding: 15px;
    margin: auto;
    margin-bottom: 20px;

}

.viacred img{
    width: 170px;   
    margin-left: 65%;    
}

.viacred h2{
    padding: 10px;
    margin-right: 30%;
    text-align: justify;
    width: 300%;
}

.uppercase{
    text-transform: uppercase !important;
}

.uppercase{
    text-transform: uppercase !important;
}

.uppercase{
    text-transform: uppercase !important;
}

.footer{
    width: 100%;
    background-color: #343a40;
    position: relative;
    bottom: 0;
}

.footer p{
    margin: 0 auto;
    padding: 16px 8px;
    width: fit-content;
    color: #fff;
    text-align: center;
}