.conheca h1{
    text-align: center;
    margin-top: 22px;
    margin-bottom: 22px;
    text-decoration: underline;
}

.numero p{
    margin-top: 20px;
    color: white;
    font-size: 12px;
    text-decoration: underline;
    margin-right: auto;
    margin-right: 200px;
}

.sobre img{
    width: 100%;
}

.obras h1{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.sobre p{
    margin: auto;
}

.atendimento{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 16px auto;
  }
  
  .atendimento p{
      margin: 2px auto;
  }
  
  .atendimento P, .atendimento h5{
      text-align: center;
  }
  
  .atendimento img{
      width: 100px;
  }
  
  .atendimento .imgs{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
  }

.obras img{
    width: 100%;
    height: 90px;
    padding: 10px;
}

  .viacred h2{
    text-align: center;
    font-size: 2rem;
    padding: 0px;
    display: inline-flex;
    margin-top: 20px;
    width: 300px;
    margin-left: 35%;
}

.viacred img{
    width: 180px;
    margin-left: 60%;
    margin-bottom: 30px;
}

footer{
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: #212529;
    padding: 1px;
    
}