body{
    background-image: url(../Imagens/borrado.jpeg); 
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

section h1{
  color: rgb(255, 255, 255);
    font-size: 48px;
    margin-bottom: 30px;
    margin-left: 7%;
    box-sizing: border-box;
}

section li{
    margin-bottom: 16px;
    font-size: 28px;
    box-shadow: 3px 3px 6px black;
    color: black;
}

iframe{
    float: left;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 50px;
}

.svg{
  text-align: center;
}

.svg img{
  width: 38px;
  display: inline-block;
}

.localizacao{
  margin: 40px 0;
  display: flex;
  justify-items: center;
  justify-content: space-around;
  align-items: center;
}

.uppercase{
  text-transform: uppercase !important;
}

.footer{
  width: 100%;
  background-color: #343a40;
  position: relative;
  bottom: 0;
}

.footer p{
  margin: 0 auto;
  padding: 16px 8px;
  width: fit-content;
  color: #fff;
  text-align: center;
}