main h1{
    text-align: center;
    font-family: cursive;
    margin-top: 30px;
}

.card_img{
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 25px auto;
    border-radius: 5px;    
}

.small_img{
    height: 100%;
    cursor: pointer;
}

.row{
    display: flex;
}


.card_img1{
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 25px auto;
    border-radius: 5px;
    margin-left: 15%;    
}

.card_img99{
    overflow: hidden;
    margin: 5px;
    width: 200px;
    height: 200px;
    object-fit: fill;
}

.card_img5{
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin-left: 3%;
    border-radius: 5px;    
    margin-top: 30px;
}

.card_img7{
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 25px auto;
    border-radius: 5px;
}

.card_img100{
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 25px auto;
    border-radius: 5px;    
}

.entre h1{
    text-align: center;
}

.marcas h1{
    text-align: center;
    margin-top: 30px;
}

.marcas img{
    width: 300px;
    border: 2px solid black;
    border-radius: 4px;
}

.uppercase{
    text-transform: uppercase !important;
}

.footer{
    width: 100%;
    background-color: #343a40;
    position: relative;
    bottom: 0;
}

.footer p{
    margin: 0 auto;
    padding: 16px 8px;
    width: fit-content;
    color: #fff;
    text-align: center;
}

.marcas{
    display: flex;
}

.marcas div{
    margin: 16px;
}
